<ion-view view-title="Abilities">
	<ion-content>
		<div class="row">
			<div class="list col col-50">
				<label class="item item-input item-floating-label">
					<span class="input-label">Strength</span>
					<input type="tel" placeholder="STR">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Constitution</span>
					<input type="tel" placeholder="CON">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Dexterity</span>
					<input type="tel" placeholder="DEX">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Intelligence</span>
					<input type="tel" placeholder="INT">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Wisdom</span>
					<input type="tel" placeholder="WIS">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Charisma</span>
					<input type="tel" placeholder="CHA">
				</label>
			</div>
			<ion-list class="col col-50">
				<ion-item>
					Bonus Str
				</ion-item>
				<ion-item>
					Bonus Con
				</ion-item>
				<ion-item>
					Bonus Dex
				</ion-item>
				<ion-item>
					Bonus Int
				</ion-item>
				<ion-item>
					Bonus Wis
				</ion-item>
				<ion-item>
					Bonus Cha
				</ion-item>
			</ion-list>
		</div>
		<button class="button button-block button-positive">
			Save
		</button>
	</ion-content>
</ion-view>
