<ion-view view-title="Character">
	<ion-content>
		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label">Name</span>
			  <input type="text" placeholder="Name">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Race</span>
				<input type="text" placeholder="Race">
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Class</span>
				<textarea placeholder="Class"></textarea>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Skill Rank</span>
				<input type="text" placeholder="Skill Rank" />
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Level</span>
				<input type="text" placeholder="Level" />
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Size</span>
				<input type="text" placeholder="Size" />
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Size Modifier</span>
				<input type="text" placeholder="Size Modifier" />
			</label>
		</div>
		<div class="list">
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Male
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Female
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>

	</ion-content>
</ion-view>
