<ion-view view-title="Character">
  <ion-content>
      <div class="list">
          <label class="item item-input">
              <input type="text" placeholder="Name">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Race">
          </label>
          <label class="item item-input">
              <textarea placeholder="Class"></textarea>
          </label>
          <label class ="item item-input">
              <input type="text" placeholder="skill rank" />
              <input type="text" placeholder="level" />
          </label>
          <label class="item item-input">
              <input type="text" placeholder="size" />
              <input type="text" placeholder="size modifier" />
         </label>
</div>
      <ul class="list">
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input type="checkbox">
              </label>
              Male
          </li>
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input type="checkbox">
              </label>
              Female
          </li>
      </ul>
 
</ion-content>
</ion-view>
