<ion-view view-title="Money">
	<ion-content>
		<div class="list">
	<label class="item item-input item-stacked-label">
		<span class="input-label">Copper</span>
		<input type="tel" placeholder="0">
	</label>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Silver</span>
		<input type="tel" placeholder="0">
	</label>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Gold</span>
		<input type="tel" placeholder="0">
	</label>
</div>
	</ion-content>
</ion-view>
