<ion-view title="Abilities">
    <ion-nav-buttons side="left">
	<button class="button" ng-click="specialSave()">
	    Save
	</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
	<button class="button" ng-click="doLogoutAction()">
	    Logout
	</button>
    </ion-nav-buttons>
    <ion-content class="padding">
	<ion-list>
            <ion-item class="item-button-right">
                <font size="6"><b>Spells</b></font>
		<button class="button" ng-click="abiladd(1)">
		    <i class="icon ion-plus-circled"></i>
		</button>
            </ion-item>
	    <ion-item class="item-button-right" ng-repeat= "item in spells" item="data">
		<font size="5"><b>{{item.title}}</b></font><br>
		<button class="button" ng-click="spells.splice(spells.indexOf(item), 1);">
		    <i class="icon ion-minus-circled"></i>
		</button>		
		{{item.description}}
	    </ion-item>
	    <ion-item class="item-button-right">
	        <font size="6"><b>Feats</b></font>
		<button class="button" ng-click="abiladd(2)">
		    <i class="icon ion-plus-circled"></i>
		</button>
	    </ion-item>
	    <ion-item class="item-button-right" ng-repeat= "item in feats" item="data">
		<font size="5"><b>{{item.title}}</b></font><br>
		<button class="button" ng-click="feats.splice(feats.indexOf(item), 1);">
		    <i class="icon ion-minus-circled"></i>
		</button>
		{{item.description}}
	    </ion-item>
	    <ion-item class="item-button-right">
		<font size="6"><b>Special Abilities</b></font>
		<button class="button" ng-click="abiladd(3)">
		    <i class="icon ion-plus-circled"></i>
		</button>
	    </ion-item>
	    <ion-item class="item-button-right" ng-repeat= "item in abil" item="data">
		<font size="5"><b>{{item.title}}</b></font><br>
		<button class="button" ng-click="abil.splice(abil.indexOf(item), 1);">
		    <i class="icon ion-minus-circled"></i>
		</button>
		{{item.description}}
	    </ion-item> 
	</ion-list>
    </ion-content>
</ion-view>
