<ion-view title="Combat">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="save()">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">HP</span>
                    <input type="text" placeholder="HP">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">AC</span>
                    <input type="text" placeholder="AC">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Initive</span>
                    <input type="text" placeholder="Initive">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Fortitude</span>
                    <input type="text" placeholder="Fortitude">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reflex</span>
                    <input type="text" placeholder="Reflex">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Will</span>
                    <input type="text" placeholder="Will">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Grapple</span>
                    <input type="text" placeholder="Grapple">
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Base Attack</span>
                    <input type="text" placeholder="Base Attack">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
