<ion-view title="Combat">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="save()">
            Save
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">HP</span>
                    <input type="tel" placeholder="HP">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">AC</span>
                    <input type="tel" placeholder="AC">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Initiative</span>
                    <input type="tel" placeholder="Initiative">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Fortitude</span>
                    <input type="tel" placeholder="Fortitude">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reflex</span>
                    <input type="tel" placeholder="Reflex">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Will</span>
                    <input type="tel" placeholder="Will">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Grapple</span>
                    <input type="tel" placeholder="Grapple">
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Base Attack</span>
                    <input type="tel" placeholder="Base Attack">
                </label>
            </div>
        </div>
        <br />
        <label class="item item-input item-stacked-label">
            <span class="input-label">Attack</span>
            <input type="text" placeholder="Attack" />
        </label>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Attack Bonus</span>
                    <input type="text" placeholder="Attack Bonus" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Damage</span>
                    <input type="text" placeholder="Damage" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Critical</span>
                    <input type="text" placeholder="Critical" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col=xs=3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Range</span>
                    <input type="text" placeholder="Range" />
                </label>
            </div>
            <div class="col-xs-3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" placeholder="Type" />
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" placeholder="Notes" />
                </label>
            </div>
        </div>
        <br />
        <label class="item item-input item-stacked-label">
            <span class="input-label">Attack</span>
            <input type="text" placeholder="Attack" />
        </label>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Attack Bonus</span>
                    <input type="text" placeholder="Attack Bonus" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Damage</span>
                    <input type="text" placeholder="Damage" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Critical</span>
                    <input type="text" placeholder="Critical" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col=xs=3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Range</span>
                    <input type="text" placeholder="Range" />
                </label>
            </div>
            <div class="col-xs-3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" placeholder="Type" />
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" placeholder="Notes" />
                </label>
            </div>
        </div>
        <br />
        <label class="item item-input item-stacked-label">
            <span class="input-label">Attack</span>
            <input type="text" placeholder="Attack" />
        </label>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Attack Bonus</span>
                    <input type="text" placeholder="Attack Bonus" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Damage</span>
                    <input type="text" placeholder="Damage" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Critical</span>
                    <input type="text" placeholder="Critical" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col=xs=3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Range</span>
                    <input type="text" placeholder="Range" />
                </label>
            </div>
            <div class="col-xs-3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" placeholder="Type" />
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" placeholder="Notes" />
                </label>
            </div>
        </div>
        <br />
        <label class="item item-input item-stacked-label">
            <span class="input-label">Attack</span>
            <input type="text" placeholder="Attack" />
        </label>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Attack Bonus</span>
                    <input type="text" placeholder="Attack Bonus" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Damage</span>
                    <input type="text" placeholder="Damage" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Critical</span>
                    <input type="text" placeholder="Critical" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col=xs=3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Range</span>
                    <input type="text" placeholder="Range" />
                </label>
            </div>
            <div class="col-xs-3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" placeholder="Type" />
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" placeholder="Notes" />
                </label>
            </div>
        </div>
        <br />
        <label class="item item-input item-stacked-label">
            <span class="input-label">Attack</span>
            <input type="text" placeholder="Attack" />
        </label>
        <div class="row">
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Attack Bonus</span>
                    <input type="text" placeholder="Attack Bonus" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Damage</span>
                    <input type="text" placeholder="Damage" />
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Critical</span>
                    <input type="text" placeholder="Critical" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col=xs=3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Range</span>
                    <input type="text" placeholder="Range" />
                </label>
            </div>
            <div class="col-xs-3">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Type</span>
                    <input type="text" placeholder="Type" />
                </label>
            </div>
            <div class="col-xs-6">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Notes</span>
                    <input type="text" placeholder="Notes" />
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
