<ion-view title="Character">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="save()">
            Save
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doLogoutAction()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="row">
            <div class="col-xs-8">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Character Name</span>
                    <input type="tel" value="{{character[0].characterName}}" placeholder="Rob Hobble" /> 
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Race</span>
                    <input type="tel" value="{{character[0].race}}"placeholder="Human">
                </label>
            </div>
        </div>
        <div class="row">
           <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Allignment</span>
                    <input type="tel" value="{{character[0].allignment}}" placeholder="Chaotic Neutral">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Class</span>
                    <input type="tel" value="{{character[0].class}}" placeholder="Fighter">
                </label>
            </div>
            <div class="col-xs-4">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Level</span>
                    <input type="tel" value="{{character[0].level}}" placeholder="5">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>