<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs ng-class="{'tabs-icon-top':true, 'tabs-positive':true, 'tabs-top':isAndroid}">

  <ion-tab title="Character" icon="icon ion-ios-person"></ion-tab>
  <ion-tab title="Combat" icon="icon ion-icecream"></ion-tab> 

  <ion-tab title="Special Abilities" icon="icon ion-wand" href="#/tab/abilities">
    <ion-nav-view name="tab-special"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Inventory" icon="ion-tshirt"></ion-tab>

</ion-tabs>
