<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs ng-class="{'tabs-icon-top':true, 'tabs-positive':true, 'tabs-top':isAndroid}">

  <!-- Friends Tab -->
  <ion-tab title="Character" icon="icon ion-ios-person" href="#/tab/character">
    <ion-nav-view name="tab-character"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Combat" icon="icon ion-icecream" href="#/tab/combat">
    <ion-nav-view name="tab-combat"></ion-nav-view>
   </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Special Abilities" icon="icon ion-wand" href="#/tab/abilities">
    <ion-nav-view name="tab-special"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Inventory" icon="icon ion-tshirt" href="#/tab/inventory">
       <ion-nav-view name="tab-inventory"></ion-nav-view>
   </ion-tab>
</ion-tabs>

